{% extends 'layout.html' %}


{% block body %}
<style>
    th,td{
        text-align:center;
        padding:8px;
        font-size:18px;
    }
    th{
        background-color:#0000FF;
        color:white;
    }
    body{
        background-image:url("static/images/background2.jpg");

    }
</style>
    <div class="container">
        <h1>Enjoy up to 3% Interest</h1>
        <h2>Promotion</h2>
        <p>Watch your cash grow with minimal risk. </p>
        <p>Enjoy interest rate of 3% p.a. on a 5-month Singapore Dollar Fixed Deposit. </p>
        <table border="1" width="100%" height="30%">
        <tr>
            <th>Tenor</th>
            <th width="50%">Interest Rate (p.a.)</th>
        </tr>
        <tr>
            <td>5-month</td>
            <td>3% </td>
        </tr>
        </table>
        <br>
        <p>Simply deposit a minimum of SGD$20,000 in fresh funds.</p>
        <p>This promotion is available from 14 December to 31 December 2017.</p>

        <a href="#" class="btn btn-primary">Apply Now</a>

    </div>

























{% endblock %}